<mat-progress-bar mode="indeterminate" color="warn" [style.display]="showSpinner ? 'block' : 'none'"></mat-progress-bar>
<mat-card class="center" style="background-color: rgb(241, 238, 238);">
  <mat-card-header>
    <mat-card-title>
      Productos
    </mat-card-title>
  </mat-card-header>
  <div class="inline">
    <mat-form-field class="width-80">
      <mat-label>Codigo de barras</mat-label>
      <input matInput placeholder="Codigo de barras" #input [(ngModel)]="barcode" (keyup.enter)="onGetPrices()">
    </mat-form-field>
    <a [routerLink]="['/barcode-scan']" mat-fab color="primary" matTooltip="Escanear código"
      class="btn-crear">
      <mat-icon>qr_code</mat-icon>
    </a>
  </div>
  <div class="inline">
    <mat-form-field class="width-60">
      <mat-label>Nombre del producto</mat-label>
      <input matInput placeholder="Codigo de barras" [(ngModel)]="name" (keyup.enter)="onGetPrices()">
    </mat-form-field>
    <button (click)="onGetPrices()" mat-fab color="primary" matTooltip="Buscar precio" class="btn-crear">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</mat-card>
<br>
<mat-card class="center border" *ngFor="let product of products">
  <mat-card-header>
    <mat-card-title>
      <small>Precio Oferta: $</small>
      {{ product.prices.offertPrice }}
      <br>
      <small>Precio Lista: $</small>
      {{ product.prices.listPrice }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ product.name }}
      <br>
      <strong style="margin-right: 2rem;">{{ product.barcode }}</strong>
      <span style="color: blue;">
        Fecha {{ product.prices.listDate | date: 'dd/MM/yyyy':'+0000' }}
      </span>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>